.body{
  color: antiquewhite;
  margin: 0px;
  
}
.carousel-inner{
  color: antiquewhite;
  display: flex;
  justify-content: center;
  right: 25%;
}

.carousel_img{
  transform: translateY(-40%) 
  rotate(-0.25turn);
  height: 50%;
  border-radius: 50%;
}

div .oven-img{
  position: absolute;
  top: 20%;
  right: -20%;
  width: 50%;
  border-radius: 100%;
}
div .delivery-man{
  position: absolute;
  top: 30%;
  left: -2%;
  width: 30%;
  border-radius: 50%;
  
}



